@page "/fetchdata"
@using Kysect.AssignmentReporter.WebService.Shared
@inject HttpClient Http

<PageTitle>Registered Users</PageTitle>

@if (_students == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Group</th>
        </tr>
        </thead>
        <tbody>
        @foreach (StudentDto student in _students)
        {
            <tr>
                <td>@student.Id.ToString()</td>
                <td>@student.FullName</td>
                <td>@student.Group.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private StudentDto[]? _students;

    protected override async Task OnInitializedAsync()
    {
        _students = await Http.GetFromJsonAsync<StudentDto[]>("/Students/GetAll");
    }

}